<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">

    <title>All Figures</title>
    <ul>
      <% @figures.each do |f| %>
        <ul><%= f[:name] %></ul>
      <% end %>
    </ul>
  </head>

  <body>

  </body>

</html>